*{
    margin: 0;
    padding: 0;
}
.display{
    border:1px solid;
    padding: 10px;
text-align: center;
}
.clickDis{
    padding: 10px;
    color:white;
    background-color: limegreen;
    border:1px solid green;
    border-radius: 5px;

}
.display2{
    display: flex;
    justify-content: space-evenly;
    /* border-radius: ; */
    border: 1px solid;
    margin-top: 10px;
    padding: 10px 0;
}
.btn{
    padding: 10px;
    color:white;
    background-color: limegreen;
    border:1px solid green;
    border-radius: 5px;
}
.btn2{
    padding: 10px;
    color:white;
    background-color: limegreen;
    border:1px solid green;
    border-radius: 5px;
}
.tables{
    display: flex;
    justify-content: center;
}

table,tr,td,th,thead{
    /* text-align: center; */
    border:1px solid;
    border-collapse: collapse ;
    
}
th{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
td{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

