*{
    margin: 0;
    padding: 0;
}
nav{
 /* border:1px solid; */
 display: flex;
 justify-content: end;
 padding: 10px  10px 0 0;
}
nav>i{
    border:2px solid;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
}
.background{
    background-color: rgb(58, 3, 63);
    color:white;

}



.calculator{
 width:28vw;
 border:1px solid; 
 display: flex;
 flex-direction: column ;
 /* justify-content: center; */
 align-items: center;
 padding: 8px 0;
 border-radius: 8px;
 margin: auto;
 margin-top:50px;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 700;
 
}
.caltheme{
    background-color: lightgray;
}
#display{
    width: 95%;
    height: 60px;
    margin: 8px 2px;
    border:1px solid;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 900;
    font-size: 2rem;
    background-color: whitesmoke;
    color:black
}
.keyboard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    gap: 5px;
}
.keys{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
   
}
.themebtn{
    background-color: white;
    color:black;
}

.keystheme{
    background-color: gray;
    box-shadow: 4px 2px 6px black;
    font-weight: bolder;
    font-size: 20px;
}
.keys:nth-child(4n){
    background-color: lightcoral;
}
@media(min-width:280px) and (max-width:600px){
    .calculator{
        width: 60vw;
    }   
}
@media(min-width:601px) and (max-width:1024px){
    .calculator{
        width: 30vw;
    }
}